﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<style>
    #tbrole, .c {
        border: double;
    }
</style>

@using (Html.BeginForm())
{
    <table class="table table-bordered table-hover">
        <tr>
            <td class="c"> Enter Role Name To Be Created</td>
            <td class="c">
                @Html.EditorFor(m => m.Name);
            </td>
        </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="Create Role" />
}