﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Available Roles For Application</h2>

<section class="col-md-6">
        <table class="table-bordered">
            @Html.ActionLink("Create Role", "Create", "Role")
        </table>
</section>
<section class="col-md-6">
    <table class="table-bordered">
        @Html.ActionLink("Assign Role To User", "RegisterRole", "Account")
    </table>
</section>

<br />

<table class="table table-bordered table-hover">
    <tr>
        <th class="c">
            Role Name
        </th>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </tr>
</table>