﻿@model IEnumerable<BusReservation.Models.Destination>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    </p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.To)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceOneWay)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
       <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
       <td>
           @if (ViewContext.HttpContext.User.IsInRole("Your role"))
           {
               // Do something here
           }
           @Html.DisplayFor(modelItem => item.To)
       </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceOneWay)
        </td>
        <td>
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.DestinationId })
                <span>|</span>
            }
            
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.DestinationId })
                <span>|</span>
            }
            
            @Html.ActionLink("Details", "Details", new { id = item.DestinationId })


        </td>
    </tr>
}
    

</table>
<style>

</style>
<script>
    
</script>
