﻿@model IEnumerable<BusReservation.Models.Bus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSeats)
        </td>
        <td>
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.BusId }) 
                <span>|</span>
            }
            @Html.ActionLink("Details", "Details", new { id = item.BusId }) 
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                    {
                        <span>|</span>
                        @Html.ActionLink("Delete", "Delete", new { id = item.BusId })
                    }
        </td>
    </tr>
}

</table>
